# SBT/Maven
target/
project/target/
project/project/
project/boot/

# IDEs
.idea/
*.iml
.metals/
.bsp/
.vscode/

# Dependency caches
.ivy2/
.sbt/

# Temporary files
*.log
*.swp
*.bak
.DS_Store

# Environment files
.env